<h3>Lexxy</h3>
<p>
  Introducing <a href="https://github.com/basecamp/lexxy">Lexxy</a>, a modern rich text editor for Rails
</p>
<h4>Features</h4>
<ul>
  <li>Built on top of Lexical, the powerful text editor framework from Meta.</li>
  <li>Good HTML semantics. Paragraphs are real <code>&lt;p&gt;</code> tags, as they should be.</li>
  <li>Markdown support: shortcuts, auto-formatting on paste.</li>
    <li>
    The <b><strong>rich</strong></b>
    <i><em>text</em></i>
    <i><b><strong>styles</strong></b></i>
    you <s>want</s> expect.
  </li>
  <li>
    Text highlights <mark style="color: var(--highlight-1)">color</mark>,
    <mark style="background-color: var(--highlight-bg-6)">background</mark>, or
    <mark style="color: var(--highlight-3); background-color: var(--highlight-bg-3)">both</mark>; with
    <b><mark style="color: var(--highlight-7)"><strong>other</strong></mark></b>
    <s><mark style="background-color: var(--highlight-bg-3)">styles</mark></s>
    <i><b><mark style="color: var(--highlight-5)"><strong>too</strong></mark></b></i>.
  </li>
  <li>Real-time code syntax highlighting.</li>
  <li>Create links by pasting URLs on selected text.</li>
  <li>Configurable prompts. Support for mentions and other interactive prompts with multiple loading and filtering strategies.</li>
  <li>Preview attachments like PDFs and Videos in the editor.</li>
  <li>Works seamlessly with Action Text, generating the same canonical HTML format it expects for attachments.</li>
</ul>
<p><br/></p>
<pre data-language="html" data-highlight-language="html">
&lt;lexxy-editor placeholder="It all starts here..."&gt;
&lt;/lexxy-editor&gt;</pre>
<p><br/></p>
<table>
  <tr>
    <th>Name</th>
    <th>Age</th>
  </tr>
  <tr>
    <td>John</td>
    <td>25</td>
  </tr>
  <tr>
    <td>Jane</td>
    <td>26</td>
  </tr>
</table>
<p><br/></p>