<h3>Color Highlights Examples</h3>
<ul>
  <li>
    <mark style="color: var(--highlight-1)">Highlight color 1</mark>
    <mark style="background-color: var(--highlight-bg-1)">Highlight bg 1</mark>
    <mark style="color: var(--highlight-1); background-color: var(--highlight-bg-1)">Combined</mark>
  </li>
  <li>
    <mark style="color: var(--highlight-2)">Highlight color 2</mark>
    <mark style="background-color: var(--highlight-bg-2)">Highlight bg 2</mark>
    <mark style="color: var(--highlight-2); background-color: var(--highlight-bg-2)">Combined</mark>
  </li>
  <li>
    <mark style="color: var(--highlight-3)">Highlight color 3</mark>
    <mark style="background-color: var(--highlight-bg-3)">Highlight bg 3</mark>
    <mark style="color: var(--highlight-3); background-color: var(--highlight-bg-3)">Combined</mark>
  </li>
  <li>
    <mark style="color: var(--highlight-4)">Highlight color 4</mark>
    <mark style="background-color: var(--highlight-bg-4)">Highlight bg 4</mark>
    <mark style="color: var(--highlight-4); background-color: var(--highlight-bg-4)">Combined</mark>
  </li>
  <li>
    <mark style="color: var(--highlight-5)">Highlight color 5</mark>
    <mark style="background-color: var(--highlight-bg-5)">Highlight bg 5</mark>
    <mark style="color: var(--highlight-5); background-color: var(--highlight-bg-5)">Combined</mark>
  </li>
  <li>
    <mark style="color: var(--highlight-6)">Highlight color 6</mark>
    <mark style="background-color: var(--highlight-bg-6)">Highlight bg 6</mark>
    <mark style="color: var(--highlight-6); background-color: var(--highlight-bg-6)">Combined</mark>
  </li>
  <li>
    <mark style="color: var(--highlight-7)">Highlight color 7</mark>
    <mark style="background-color: var(--highlight-bg-7)">Highlight bg 7</mark>
    <mark style="color: var(--highlight-7); background-color: var(--highlight-bg-7)">Combined</mark>
  </li>
  <li>
    <mark style="color: var(--highlight-8)">Highlight color 8</mark>
    <mark style="background-color: var(--highlight-bg-8)">Highlight bg 8</mark>
    <mark style="color: var(--highlight-8); background-color: var(--highlight-bg-8)">Combined</mark>
  </li>
  <li>
    <mark style="color: var(--highlight-9)">Highlight color 9</mark>
    <mark style="background-color: var(--highlight-bg-9)">Highlight bg 9</mark>
    <mark style="color: var(--highlight-9); background-color: var(--highlight-bg-9)">Combined</mark>
  </li>
</ul>
<p><br/></p>

