<h3>Lists Example</h3>
<p>Here are various list examples:</p>

<h4>Unordered List</h4>
<ul>
  <li>First item</li>
  <li>Second item</li>
  <li>Third item</li>
  <li>Nested list:
    <ul>
      <li>Nested item 1</li>
      <li>Nested item 2</li>
    </ul>
  </li>
</ul>

<p><br/></p>

<h4>Ordered List</h4>
<ol>
  <li>First step</li>
  <li>Second step</li>
  <li>Third step</li>
  <li>Fourth step with nested:
    <ol>
      <li>Sub-step A</li>
      <li>Sub-step B</li>
    </ol>
  </li>
</ol>

<p><br/></p>

<h4>Mixed List</h4>
<ul>
  <li>Item with <strong>bold</strong> text</li>
  <li>Item with <em>italic</em> text</li>
  <li>Item with <a href="https://example.com">a link</a></li>
  <li>Item with <code>inline code</code></li>
</ul>

<p><br/></p>

