<h3>Tables Example</h3>
<p>Here are some example tables:</p>
<p><br/></p>

<h4>Simple table</h4>
<p>Tables are 100% wide by default, with dynamic column widths.</p>
<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Role</th>
  </tr>
  <tr>
    <td>Alice</td>
    <td>alice@example.com</td>
    <td>Admin</td>
  </tr>
  <tr>
    <td>Bob</td>
    <td>bob@example.com</td>
    <td>User</td>
  </tr>
  <tr>
    <td>Charlie</td>
    <td>charlie@example.com</td>
    <td>Moderator</td>
  </tr>
</table>

<p><br/></p>

<h4>Scrollable overflowing table</h4>
<p>If content is too wide, the table will scroll horizontally. However the wrapper is not present in the output, you need to handle it on rendering side.</p>
<table>
  <tr>
    <th>Code</th>
    <th>Code</th>
    <th>Code</th>
    <th>Code</th>
  </tr>
  <tr>
    <td>
    <pre data-language="javascript" data-highlight-language="javascript">
function greet(name) {
  console.log(`Hello, ${name}!`);
}

const user = { name: "Alice", age: 30 };
greet(user.name);

// Arrow functions
const add = (a, b) => a + b;
console.log(add(5, 3));</pre>
    </td>
    <td>
    <pre data-language="javascript" data-highlight-language="javascript">
function greet(name) {
  console.log(`Hello, ${name}!`);
}

const user = { name: "Alice", age: 30 };
greet(user.name);

// Arrow functions
const add = (a, b) => a + b;
console.log(add(5, 3));</pre>
    </td>
    <td>
    <pre data-language="javascript" data-highlight-language="javascript">
function greet(name) {
  console.log(`Hello, ${name}!`);
}

const user = { name: "Alice", age: 30 };
greet(user.name);

// Arrow functions
const add = (a, b) => a + b;
console.log(add(5, 3));</pre>
    </td>
    <td>
    <pre data-language="javascript" data-highlight-language="javascript">
function greet(name) {
  console.log(`Hello, ${name}!`);
}

const user = { name: "Alice", age: 30 };
greet(user.name);

// Arrow functions
const add = (a, b) => a + b;
console.log(add(5, 3));</pre>
    </td>
  </tr>
</table>
