<% content_for :title, "Lexxy Sandbox" %>

<main data-controller="lexxy-output" data-action="lexxy:change->lexxy-output#refresh">
  <section>
    <h2>Editor</h2>
    <div class="editor-value-buttons">
      <button data-action="click->lexxy-output#loadContent" data-lexxy-output-partial-param="default">Default</button>
      <button data-action="click->lexxy-output#loadContent" data-lexxy-output-partial-param="tables">Tables</button>
      <button data-action="click->lexxy-output#loadContent" data-lexxy-output-partial-param="code_blocks">Code blocks</button>
      <button data-action="click->lexxy-output#loadContent" data-lexxy-output-partial-param="lists">Lists</button>
      <button data-action="click->lexxy-output#loadContent" data-lexxy-output-partial-param="highlights">Color highlights</button>
      <button data-action="click->lexxy-output#loadContent" data-lexxy-output-partial-param="empty">Empty</button>
    </div>
    <div>
      <%= rich_text_area_tag :sandbox, render("default"), placeholder: "Write something...", data: { lexxy_output_target: "editor" } do %>
        <lexxy-prompt trigger="@" src="<%= people_path %>" name="mention"></lexxy-prompt>
        <%= render "emoji_prompt", trigger: ":" %>
      <% end %>
    </div>

    <p><small>Use @ and : to see a remote and local prompt implementation.</small></p>
  </section>

  <section class="output">
    <h2>Output</h2>
    <div>
      <details name="lexxy-output">
        <summary>Plain Text</summary>
        <pre data-lexxy-output-target="outputText" class="lexxy-content"></pre>
      </details>
      <details name="lexxy-output" open>
        <summary>HTML</summary>
        <pre data-lexxy-output-target="outputHtml" class="lexxy-content"></pre>
      </details>
    </div>
  </section>
</main>
